<!DOCTYPE html>
<html lang="vi">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Hóa đơn</title>
	<link rel="stylesheet" href="/css/view.css">
</head>

<body>
	<div class="container">
		<div class= "title">SMILE - Tiệm Ăn Vặt</div>
		<div class = 'title2'>
		Địa chỉ: 6/6 Tôn Thất Tùng<br>
		Điện thoại: 0932575958
		</div>
        <div class = "hoadon" style="text-align: center;">HÓA ĐƠN THANH TOÁN</div>
		<table class="table">
			<thead>
				<tr>
					<th id = "dishName">Tên món</th>
					<th>SL</th>
					<th id = "dishPrice">Đ.giá</th>
					<th id = "totalDishPrice">T.tiền</th>
				</tr>
			</thead>
			<tbody> </tbody>
			<tfoot>
				<tr>
					<td id = "titleTotal" colspan="3">Thành tiền</td>
					<td id = "total"></td>
				</tr>
			</tfoot>
		</table>
		<div class = "thank" style="text-align: center;">Trân trọng cảm ơn!</div>
	</div>
	<script src="/js/view.js"></script>
</body>

</html>