body {
    width: 97%;
    font-family: sans-serif;
}

.container {
    width: 100%;
    /*border: 1px solid #ccc;*/
}

.title{
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 25px;
}

.title2{
    margin-bottom: 5px;
    font-size: 16px;
}

.hoadon{
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 26px;
}

.thank{
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 26px;
}

table {
    width: 100%;
}

.table {
    border-collapse: collapse;
}

.table th,
.table td {
    border: none;
    font-size: 20px;
    padding: 4px;
}

.table tr:first-child th{
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.table tr:last-child td{
    border-bottom: 1px solid #000000;
}

th,td {
    padding: 8px;
    text-align: center;
}


#dishName {
    text-align: left;
}

#dishPrice, #totalDishPrice {
    text-align: right;
}

th {
    background-color: #f2f2f2;
}

#titleTotal, #titleShipCod, #titleTotalCost{
    font-weight: bold;
    text-align: left;
}

#total {
    font-weight: bold;
    text-align: right;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
